<div class="container" style="padding-top: 2rem;"> 

    <div class="card border-primary mb-3" style="max-width: 40rem;">
        <div class="card-header">Ingreso de Reportes</div>
        <div class="card-body">
            <form autocomplete="on" [formGroup]="reportForm" (ngSubmit)="sendReport()">
                <div class="row">
                    <!-- Carnet -->
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fas fa-address-card text-muted"></i>
                            </span>
                        </div>
                        <input formControlName="Carnet" id="Carnet" type="text" name="Carnet" placeholder="Carnet"
                            class="form-control bg-white border-left-0 border-md">
                    </div>
                     <!-- Nombre -->
                     <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-user text-muted"></i>
                            </span>
                        </div>
                        <input formControlName="Name" id="Name" type="text" name="Name" placeholder="Nombre"
                            class="form-control bg-white border-left-0 border-md">
                    </div>
                     <!-- Project -->
                     <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fas fa-folder text-muted"></i>
                            </span>
                        </div>
                        <input formControlName="Project" id="Project" type="text" name="Curso/Proyecto" placeholder="Curso/Proyecto"
                            class="form-control bg-white border-left-0 border-md">
                    </div>
                     <!-- Body -->
                     <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fas fa-comment-alt text-muted"></i>
                            </span>
                        </div>
                        <textarea formControlName="Body" id="Body" type="text" name="Body" placeholder="Cuerpo del Reporte"
                            class="form-control bg-white border-left-0 border-md" rows="5"></textarea>
                    </div>
                    <div class="btn-group col-lg-12" role="group" aria-label="Basic example">
                        <button type="submit" class="btn btn-success">Enviar</button>
                    </div>
                </div>
            </form>
        </div>
      </div>


    
</div>